body {
    background-color: #22211d  !important;
}
.banner_image {
  min-height: 100%;
  background-image: url("../portfolioimage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}
.navbar-light .navbar-nav .nav-link {
  color: white !important;
}
/*Right modal*/

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 520px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  background: #0c0808;
  color: #fff;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}


/*Right*/
.modal.right.fade .modal-dialog {
  /*right: -520px;*/
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 1.5s linear, right 1.3s ease-out;
}

.modal.right.fade .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

/* ----- v CAN BE DELETED v ----- */


/*to make the background of the modal transparent*/
.modal-backdrop
{
  opacity:0 !important;
}
/*Right modal ends*/