body {
    background-color: #0d1323  !important;
  cursor: default;
}
#Timeless_Design g:nth-child(2) g:nth-child(2){
   display: none !important;
 }
#Timeless_Design g:nth-child(2) g:nth-child(3){
   display: none !important;
 }
.navbar-brand{
  background-image: url("../logo4.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /*height: 20vh;*/
  width: 120px;
  height: 120px;
  margin-top: -2%;
}

.icon-bar{
  background:white !important;
}

/*full screen navbar, sliding from top*/
.navbar{
  z-index: 0;
  top: 0;
  right: 0;
  background-color:#0d1323!important;
  overflow: hidden;
}
#collapsingNavbar{
  height: 80vh;
  position: relative;
  top: 25%;
  width: 99%;
  text-align: center;
  margin-top: 30px;
}
.navbar a {
  padding: 8px;
  font-size: 36px;
  color: #ffffff !important;
  display: block;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:hover{

  text-decoration: line-through !important;
  transform: scale3d(1.8,1.5,1.2);
}


/*Right modal*/

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 520px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.close{
  color: #ffffff !important;
}
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  background: #0d1323;
  color: #fff;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}


/*Right*/
.modal.right.fade .modal-dialog {
  /*right: -520px;*/
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 1.5s linear, right 1.3s ease-out;
}

.modal.right.fade .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

/*to make the background of the modal transparent*/
.modal-backdrop
{
  opacity:0 !important;
}
/*Right modal ends*/