.nameDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: normal;
    overflow: hidden;
    font-family: bebas-neuebold, sans-serif !important;
    text-align: center;
}

.nameDiv h1 {
    color: #ffffff;
    font-size: 8vw;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: .75;
    text-transform: uppercase;
}

.highlight-word .highlight-inner {
    position: relative;
    z-index: 3;
}
.highlight-word{
    text-align: center;
}
.highlight-word::before {
    height: 5%;
    position: absolute;
    transform: translateY(200%);
    /*margin-top: -10px;*/
    display: block;
    z-index: -1;
    width: 88%;
    left: 5%;
    background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
    content: '';
}

.jobText {
    color: #ffffff;
    font-size: 4vw;
}

.socialLinks a {
    text-decoration: none;
    color: white;
    /*padding-right: 150px;*/
}
.socialLinks{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}
.socialLinks{
    text-align: center;
}
.socialLinks span {
    overflow: hidden;
    padding: 10px 10px;
    letter-spacing: 0.2em;
    /*width: 30%;*/
}

.socialLinks a:hover {
    border-bottom: 5px solid #5EFCE8;
    max-width: 20px !important;
    transform: scale(1.6, 1.2);
    color: white;
    width: 10%;
    text-decoration: none !important;
}
@media only screen and (max-width: 480px) {
    .nameDiv{
        text-align: center;
    }
    .nameDiv h1 {
        color: #ffffff;
        font-size: 6vh;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.05em;
        line-height: .95;
        text-transform: uppercase;
    }


}
@media only screen and (min-width: 600px) {
    .nameDiv{
        text-align: center;
    }
    .nameDiv h1 {
        color: #ffffff;
        font-size: 12vh;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.05em;
        line-height: .95;
        text-transform: uppercase;
    }

    .socialLinks span {
        overflow: hidden;
        /*padding: 0px 0px;*/
        letter-spacing: 0.05em;
        width: 10%;
    }
}

@media screen and (min-width: 768px){
    .nameDiv{
        text-align: center;
    }
    .nameDiv h1 {
        color: #ffffff;
        font-size: 8vw;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.05em;
        line-height: .95;
        text-transform: uppercase;
    }


}

@media screen and (min-width: 992px){
    .nameDiv{
        text-align: center;
    }
    .nameDiv h1 {
        color: #ffffff;
        font-size: 8vw;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.05em;
        line-height: .95;
        text-transform: uppercase;
    }



}
